<main class="row g-3">
    {{#with person}}
    <section>
        <h1>{{name}} ({{age}}) </h1>
        {{#with address}}
        <address>{{zip}}, {{city}} ({{state}}),
            {{street}}, {{country}}
        </address>
        {{/with}}
    </section>
    <hr>
    <section class="card">
        <ul class="card-body">
            {{> title data="Educations: " big=true }}
            {{#each education}}
            <li>
                <div class="mb-2">{{degree}} <i>({{major}})</i> </div>
                <div class="mb-2"><b>{{university}}</b> ({{graduationYear}}) </div>
            </li>
            {{/each}}
        </ul>
    </section>
    <hr>
    <section>
        <ul class="list-group">
            {{> title data="Work Experience: " big=true }}
            {{#each workExperience}}
            <li class="list-group-item">
                <div class="mb-2">
                    <em>{{title}}</em> in <b>{{company}}</b> ({{startDate}} - {{#if endDate}}
                    {{endDate}} {{else}} (Працюю зараз) {{/if}})
                </div>
                <div class="mb-2"><b>{{company}}</b> - <i>{{industry}} company founded in {{year_founded}} year</i>
                </div>
                <p>
                    {{responsibilities}}
                </p>
                <ul class="list-group">
                    {{> title data=" Employees: " big=false }}
                    {{#each employees}}
                    <li class="list-group-item">
                        <div class="mb-2">{{name}} <b>({{position}})</b></div>
                        <div class="mb-2">{{department}} department </div>

                        <ul class="list-group">
                            {{> title data=" Projects: " big=false }}

                            {{#each projects}}
                            <li class="list-group-item">
                                <div class="mb-2">{{name}} ({{status}})</div>
                                <p>{{description}}</p>

                                <ul class="list-group">
                                    {{> title data=" Teams: " big=false }}
                                    {{#each teams}}
                                    <li class="list-group-item">
                                        <div class="mb-2"><i>{{team_name}}</i></div>
                                        <div class="mb-2">
                                            <b>{{team_leader.name}}</b>:
                                            {{team_leader.title}}
                                        </div>
                                        <p><em>{{team_leader.email}}</em></p>


                                        <ul class="list-group">
                                            {{> title data=" Team members: " big=false }}
                                            {{#each team_members}}
                                            <li class="list-group-item">
                                                <div class="mb-2">
                                                    {{name}} ({{title}})
                                                </div>
                                                <p><em>{{email}}</em></p>

                                                <ul class="list-group">
                                                    {{> title data=" Skills: " big=false }}
                                                    {{#each skills}}
                                                    <li class="list-group-item">{{this}}</li>
                                                    {{/each}}
                                                </ul>

                                                <ul class="list-group">
                                                    {{> title data=" Projects: " big=false }}

                                                    {{#each projects}}
                                                    <li class="list-group-item">
                                                        <div class="mb-2"><b>{{name}}</b></div>
                                                        <p>{{description}}</p>
                                                        <ul class="list-group">
                                                            {{> title data=" Technologies: " big=false }}
                                                            {{#each technologies}}
                                                            <li class="list-group-item">
                                                                {{this}}
                                                            </li>
                                                            {{/each}}
                                                        </ul>

                                                        <ul class="list-group">
                                                            {{> title data=" Team members: " big=false }}
                                                            {{#each team_members}}
                                                            <li class="list-group-item">
                                                                {{name}} - ({{title}})
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </li>
                                                    {{/each}}
                                                </ul>


                                            </li>
                                            {{/each}}
                                        </ul>

                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/with}}
</main>