<div>
  {{#with program}}
  {{#with excursion}}
  <main>
    <div>
      {{> title data="Program:" big=true }}
    </div>
    <section>
      <div>
        {{> title data=name big=true }}
      </div>
      <div class="mb-2">
        <address>{{location.city}}, {{location.country}} ({{date}})</address>
      </div>

      <div>
        <ul>
          {{#each program}}
          <li class="pb-1">
            <div>
              {{> title data=name big=true }}
            </div>
            <div class="mb-2"><b>Type: </b> ({{type}})</div>
            <div class="mb-2"><b>Duration:</b> ({{duration}})</div>

            <div class="mb-2">Details:</div>
            {{#with details}}
            {{#if museum}}
            <div>
              {{> title data=museum.name big=false }}
            </div>
            <div class="mb-2">
              <address>
                {{museum.location.address}}, {{museum.location.city}}, {{museum.location.country}}
              </address>
            </div>

            <div>
              <b class="mb-2">Exhibits:</b>
              <ul>
                {{#each museum.exhibits}}
                <li class="mb-1">
                  <div class="mb-1"><cite>{{name}}</cite>
                    {{#if artist}}
                    ({{artist}})
                    {{/if}}</div>

                  <div>{{description}}
                    {{#if audio_guide}} <b>(available audio guide)</b>
                    {{else}}<b>(there is no audio guide)</b>
                    {{/if}}
                  </div>

                </li>


                {{/each}}
              </ul>
            </div>
            {{/if}}
            {{#if venue}}
            <div>
              {{> title data=venue.name big=false }}
            </div>
            <div class="mb-2">
              <address>
                {{venue.location.address}}, {{venue.location.city}}, {{venue.location.country}}
              </address>
            </div>

            <div class="mb-2">
              <b class="mb-2">Performers:</b>
              <ul>

                {{#each performers}}
                <li class="pb-2">
                  <div class="mb-1"><cite>{{name}}</cite></div>

                  <div>{{type}}</div>
                </li>

                {{/each}}
              </ul>
            </div>
            {{/if}}

            <div>
              {{> title data="Guide:" big=false }}
            </div>
            <div class="mb-1">
              <b> {{guide.name}} </b> ({{guide.rating}})
            </div>
            <div class="mb-1">language: <i>{{guide.language}}</i></div>
            {{/with}}
          </li>

          <hr>
          {{/each}}
        </ul>
      </div>
    </section>
  </main>
  {{/with}}
  {{/with}}
</div>