<main class="row p-4 g-4">
    {{#with navigation}}
    <div class="card col-12">
        <section class="col-12 nav ">
            {{#each links}}
            <div class="nav-item  ">
                <a href={{href}} class="nav-link  {{#if @last}} disabled {{/if}}"> {{text}} </a>
            </div>
            {{/each}}
        </section>
    </div>
    {{/with}}
    {{#with header}}
    <div class="col-12 p-0 ">
        <h1 class="mb-3">{{title}}</h1>
        <div class="mb-2">
            <a href={{button.link}} class="btn btn-outline-secondary btn-sm">{{button.text}}</a>
        </div>
    </div>
    {{/with}}
    <hr>
    {{#each goodsBlock}}
    <div class="card col-12 p-1">
        <div class="card-body p-1 row g-3">
            <img src={{image}} alt="" class="col-2">
            <div class="col-5">
                <h4>{{name}}</h4>
                <p>{{description}}</p>
            </div>
            <div class="col-2 py-4">
                <div>{{price.title}}</div>
                <h3>{{price.value}}</h3>
            </div>
            <div class="col-1 pt-5">{{amount}}</div>
            <div class="col-2 pt-3">
                {{#each buttons}}
                <button
                    class="btn mb-3 {{#if isPrimary}} btn-primary {{/if}} {{#if isDanger}} btn-outline-danger {{/if}}">
                    {{text}}
                </button>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
    <hr>
    {{#with total}}
    <div class="col-12">
        <h2>{{title}}</h2>
        <div class="display-6 my-3"><b>{{amount}}</b></div>
        <div class="mb-3">{{delivery}}</div>
        {{#each buttons}}
        <div class="mb-3">
            <a href={{link}}
                class="btn {{#if isSuccess}} btn-success {{/if}} {{#if isOutline}} btn-outline-success {{/if}}">{{text}}</a>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <hr>
    {{#with goodsOtherBlock}}
    <div class="col-12">
        <h2 class="text-center mb-3">{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <img src={{image}} alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title ">
                            {{title}}
                            {{#if isHot}}
                            <span class="badge rounded-pill text-bg-warning text-light px-2">Hot </span>
                            {{/if}}
                            {{#if idNew}}
                            <span class="badge rounded-pill text-bg-primary px-2">New</span>
                            {{/if}}
                        </h5>
                        <p>{{description}}</p>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/with}}
    <hr>
    {{#with subscribe}}
    <div class="col-12 p-0 mb-3">
        <div class="card text-bg-dark p-3 ">
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <div class=" pb-3">
                <a href={{link}} class="btn btn-primary">{{text}} </a>
            </div>
            {{/each}}
        </div>

    </div>
    {{/with}}
    <hr>

    {{> shop_footer footer=footer link=link text=text}}
</main>