<main class="row g-3">
    <h1 class="text-center">{{page_header.title}}</h1>
    <div class="text-center ">
        <p>
            {{page_header.description}}
        </p>
    </div>

    {{#with section}}
    <div class="card">
        <div class="card-body">
            <div class="display-6 text-end">
                {{about_us.title_list.main}}
            </div>

            <h2 class="text-end">
                {{about_us.title_list.sub}}
            </h2>

            <div>
                <button class="btn btn-outline-info">
                    {{about_us.button.text}}
                </button>
            </div>
        </div>
    </div>


    {{#with advantage}}
    <div class="card">
        <div class="card-body">
            <div class="display-5 text-secondary">{{title}}</div>

            {{#with efficiency}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-secondary">{{title}}</div>

                    <h6>{{sub_title}}</h6>

                    <div>
                        <p>{{description}}</p>
                    </div>

                    <div>
                        <button class="btn btn-outline-warning">
                            {{button}}
                        </button>
                    </div>
                </div>
            </div>
            {{/with}}

            {{#with innovation}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-center text-secondary">{{title}}</div>

                    <h6 class="text-center">{{sub_title}}</h6>

                    <div>
                        <p class="text-center">{{description}}</p>
                    </div>

                    <div>
                        <button class="btn btn-outline-warning">
                            {{button}}
                        </button>
                    </div>
                </div>
            </div>
            {{/with}}

            {{#with collaboration}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-end text-secondary">{{title}}</div>

                    <h6 class="text-end">{{sub_title}}</h6>

                    <div>
                        <p class="text-end">{{description}}</p>
                    </div>

                    <div>
                        <button class="btn btn-outline-warning">
                            {{button}}
                        </button>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    {{#with agreement}}
    <div class="card">
        <div class="card-body">
            <div class="display-5">
                {{title}}
            </div>

            {{#with info}}
            <div class="card">
                <div class="card-body">
                    <h5>{{sub_title}}</h5>

                    {{#with detail}}
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <p>{{text}}</p>
                            </div>

                            <div>
                                <button class="btn btn-success">{{button}}</button>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}
    {{/with}}
</main>

{{!--
{{#with efficiency}}
<div class="card">
    <div class="card-body">

    </div>
</div>
{{/with}}
--}}