<main class="row g-3">

    <section class="card">
        <div class="card-body">
            {{#each heading}}
            <div class="card mb-2">
                <div class="card-body">
                    <h1>{{title}}</h1>
                    <p>{{text}}</p>
                    <div class="mb-2">
                        <button class="btn btn-primary">{{button_text.solid}}</button>
                    </div>
                    <div class="mb-2">
                        <button class="btn btn-outline-primary">
                            {{button_text.outline}}
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>


    {{#with nested_display}}
    <section class="card">
        <div class="card-body">
            <div class="display-1">
                {{title}}
            </div>
        </div>

        {{#with children_display}}
        <div class="card">
            <div class="card-body">
                <div class="display-4">{{title}}</div>
                <p>{{text}}</p>
                <button class="btn btn-outline-warning">
                    {{button.text}}
                </button>
            </div>
        </div>
        {{/with}}

        <h6>{{header_text}}</h6>

        <div class="mb-2">
            <button class="btn btn-info">{{button.text}}</button>
        </div>

    </section>
    {{/with}}

    {{#with paragraph}}
    <section class="card">
        <div class="card-body">
            <div class="text-uppercase">
                {{title}}
            </div>

            <div class="text-lowercase">
                {{text}}
            </div>

            <div class="mb-2">
                <a href={{button.url}} class="btn btn-link">
                    {{button.text}}
                </a>
            </div>

            <div class="card">
                <div class="card-body">
                    <ul>
                        {{#each list_name}}
                        <li>
                            <a href={{url}} class="btn btn-link">
                                {{text}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {{/with }}
</main>