<div>
    {{#with web}}
    <main>
        {{> title data="Languages" big=true }}
        <br>
        {{#each languages}}
        <section>
            {{> title data=name big=true }}
            <div> <b>Version:</b> {{version}}</div>
            <br>
            <div> <b>Description:</b> {{description}}</div>

            {{#if elements}}
            <div>
                {{> title data=name big=false }}
                <ul>
                    {{#each elements}}
                    <li>
                        <div><b>{{name}}: </b> {{description}}</div>
                        <br>
                        {{> inpList data=attributes}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if properties}}
            <div>
                {{> title data=name big=false }}
                <ul>
                    {{#each properties}}
                    <li>
                        <div><b>{{name}}: </b> {{description}}</div>
                        <br>
                        {{> inpList data=values}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            {{#if functions}}
            <div>
                {{> title data=name big=false }}
                <ul>
                    {{#each functions}}
                    <li>
                        <div><b>{{name}}: </b> {{description}}</div>
                        <br>
                        {{> inpList data=parameters}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            <br>
        </section>
        {{/each}}
    </main>
    {{/with}}
</div>