<main class="row g-3">
    {{#with web}}

    {{> title data="Languages" big=true }}

    {{#each languages}}
    <section class="card">
        <div class="card-header">
            {{> title data=name big=true }}
        </div>
        <div class="card-body">
            <div> <b>Version:</b> {{version}}</div>

            <div> <b>Description:</b> {{description}}</div>

            {{#if elements}}
            <div>
                {{> title data=name big=false }}
                <ul>
                    {{#each elements}}
                    <li>
                        <div><b>{{name}}: </b> {{description}}</div>

                        {{> inpList data=attributes}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if properties}}
            <div>
                {{> title data=name big=false }}
                <ul>
                    {{#each properties}}
                    <li>
                        <div><b>{{name}}: </b> {{description}}</div>

                        {{> inpList data=values}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            {{#if functions}}
            <div>
                {{> title data=name big=false }}
                <ul>
                    {{#each functions}}
                    <li>
                        <div><b>{{name}}: </b> {{description}}</div>

                        {{> inpList data=parameters}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

        </div>

    </section>
    {{/each}}

    {{/with}}
</main>