<div class="mb-2">
	{{#with main}}
	<main>
		<section>
			{{> title data="Work history" big=true }}
			<div>
				<ul>
					{{#each works}}
					<li>
						<div class="mb-2">{{position}}</div>
						<div class="mb-2">
							{{duration.from}}
							-
							{{#if duration.to}}
							{{duration.to}}
							{{else}}
							(Досі працюємо)
							{{/if}}
						</div>
						{{#if company.url}}
						{{>link text=company.name href=company.url noLine=true }}
						{{else}}
						<b>{{company.name}}</b>
						{{/if}}
						<div class="my-3"><strong>Projects: ({{projectAmount}})</strong></div>
						<ul>
							{{#each projects}}
							<li class="mb-2">
								<div>{{>link text=name href=url noLine=true }}</div>

								<div class="my-1">
									<p>{{about}}</p>
								</div>
								<div><em>Project stacks ({{stackAmound}}) </em></div>

								<div class="my-2">
									<ul>
										{{#each stacks}}
										<li>{{name}}</li>
										{{/each}}
									</ul>
								</div>

								<div><em>Project awards</em></div>

								<div class="my-2">
									<ul>
										{{#each awards}}
										<li class="pb-1">{{name}}</li>
										{{/each}}

									</ul>
								</div>
							</li>
							{{/each}}
						</ul>
					</li>
					{{/each}}

				</ul>
			</div>
		</section>

	</main>
	{{/with}}
</div>