<div>
    {{#if fistBoldText}} <b>{{firstText}}</b> {{else}}{{firstText}}{{/if}}
    {{#if without_colon}}{{else}}:{{/if}}
    {{#if secondBoldText}} <b>{{secondText}}</b> {{else}}{{secondText}}{{/if}}
</div>